<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/loadmap.js"></script>
    <script type="text/javascript" src="/scripts/sidebar.js"></script>
    <script type="text/javascript" src="/scripts/profile.js"></script>


    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        z-index: -1;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

  </head>

  <body>
<!--     <nav id="nav_bar">
      <img class="logo" src="/images/Logo.png">
      <span class="list"> :Placeholder - LIST TITLE HERE</span>
    </nav>

 -->
    <div id="mySidenav" class="sidenav">
      <span id="closebtn">&times;</span>
      <a href="#">Profile</a>

      <section class="profile"></section>


      <a href="#">Favorites</a>
      <a href="#">Contributed</a>
      <a href="#">Maps</a>
    </div>

<!-- Use any element to open the sidenav -->
    <i class="fas fa-bars" id="openbtn"></i>



    <div id="profile">
      <h1>Profile</h1>
        <p class="name">Name</p>
        <p class="email">Email</p>
        <input type="submit" value="Logout">

    </div>

  <!--   <h1>City Title Dummy Text Here</h1> -->

    <div id="map">
    </div>





    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVxbpfmC6j5_01ie6kzGZb-znmDRSDf4Y&callback=initMap">
    </script>

  </body>
</html>
