<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/loadmap.js"></script>
    <script type="text/javascript" src="/scripts/sidebar.js"></script>
    <script type="text/javascript" src="/scripts/profile.js"></script>



    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        z-index: 0;
        position: fixed;


      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


      .sidehead {
        font-size: 30px;
      }




    </style>

  </head>

  <body>
<!--     <nav id="nav_bar">
      <img class="logo" src="/images/Logo.png">
      <span class="list"> :Placeholder - LIST TITLE HERE</span>
    </nav>

 -->
<!-- Use any element to open the sidenav -->

    <i class="fas fa-bars" id="openbtn"></i>

    <div id="mySidenav" class="sidenav">
      <span id="closebtn">&times;</span>

      <a class="profileButton" href="#" style="font-size: 30px">Profile</a>
      <section class="profile">
      </section>

      <a class="favouritesButton" href="#" style="font-size: 30px">Favorites</a>
      <section class="favorites_list">
        <ol>
          <li class="favorite">
            Celebrity sightings
          </li>
          <li class="favorite">
            Must-see dog poop sights
          </li>
          <li class="favorite">
            Hobos sleep here!!
          </li>
        </ol>
      </section>

      <a class="contributedButton" href="#" style="font-size: 30px">Contributed</a>
      <section class="contributed_list">
      </section>

      <a class="mapsButton" href="#" style="font-size: 30px">Maps</a>
      <section class="maps_list">
      </section>


    </div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <button class="createButton" id="createButton">Create Map</button>

    <section class="bottom">
      <button class="saveMapBtn"> Save Map </button>
      <textarea class="title" name="textarea">Title</textarea>
      <input type="submit" name="submit" value="Save Point" class="addPointButton"/>
      <input type="submit" name="submit" value="Delete Point" class="deletePointBtn"/>

    </section>
    <div id="map">
    </div>
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVxbpfmC6j5_01ie6kzGZb-znmDRSDf4Y&libraries=places&callback=initMap">
     </script>
  </body>
</html>
