.maps_list
{
  padding: 10px 0px 10px 0px;
  margin: 0;
/*  ol
  {
    margin: 0;
*/    a.mapNames
    {
      color: $highlight-secondary-color;
      font-size: 1.7em;
      display: block;
      transition: 0.3s;
      padding: 0.5em;
    }
  /*}
*/}
