#nav_bar {
  color: black;
  z-index: 2;
  position: absolute;
  height: 80px;
  width: 100%;
}


nav img {
  height: 80px;
  width: 150px;
}

nav span {
  vertical-align: 30px;
  font-size:25px;


}
