#profile {
  background-color: transparent;
  width: 12em;
  height: 14em;
  z-index: 2;
  position: absolute;
  margin-left: 800px;
  border: 1px solid black;
  text-align: center;
}

main h1 {
  width: 100%;
  text-align: center;
  position: relative;
}

main p {
  position: relative;
  margin: 2em 0 0 0;
}

main input {
  text-align: center;
  margin: 2em;
}

