.profile {
  color: #818181;
  padding: 10px 10px 10px 32px;
  border-bottom: solid 1px;
}

h2 {
  font-size: 1.6em;
  color: $highlight-prime-color;
  line-height: 0em;
}

.email {
  color: white;
  font-size: 1.3em;
  margin-bottom: 1em;
}


