@import "_colors";
@import "_navbar";
@import "_sidebar";
@import "contributed";
@import "maps";
@import "_profile_side";
@import "_favorites";
/*@import "_profile";*/
/*body {
  background-color: #EEE;

  h1 {
    color: red;
  }
}
*/
@import "bottom";


#simpsontest {
  margin: 15px;
  height: 150px;
  width: 150px;
}
